VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=aid_orders_unsigned
VITE_EMAILJS_SERVICE_ID=service_o1l9paa
VITE_EMAILJS_TEMPLATE_ID=template_j2kdm7e
VITE_EMAILJS_PUBLIC_KEY=GhqZyEOTZTk2F7WI8
VITE_WHATSAPP_NUMBER=21629850995